@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1800px) { @content };    //1800
    }
  }
.handlePrice {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(91, 87, 115);

    @include respond(tab-port) {
        flex: 1;
        width: 100vw;
    }
}

.handlePrice_priceCards {
     width: 90%;
 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
}

.smsLeft {
    min-height: 400px;
    width: 30%;
    background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @include respond(tab-port) {
       width: 90%;
   }

}
.smsLeft > p {
    color: gray;
    font-size: 40px
}

.smsLeft > span {
    color: black;
    font-size: 60px;
}