@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1800px) { @content };    //1800
    }
  }
.handleFeedback{
   display: flex;
   flex-direction: column;
   flex: 0.8;
   align-items: center;
   height: 100vh;
   overflow-y: scroll;
   background: linear-gradient(transparent, rgba(0, 0, 0, 1));
   background-color: rgb(91, 87, 115);

   @include respond(tab-port) {
       flex: 1;
       width: 100vw;
   }
}
.handleFeedback__feedback{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    width: 40%;
    margin: 15px;
    border: 4px solid green;

    @include respond(tab-port) {
        width: 80%;
    }
}

.handleFeedback__feedback > button {
    border-radius: 10px;
    background-color: green;
}

.handleFeedback__feedback--item {
    display: flex;
    align-items: center;
    margin: 5px;
}
.handleFeedback__feedback--item > .MuiSvgIcon-root {
    margin-right: 10px;
}

.handleFeedback__list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

    @include respond(tab-port) {
        width: 95%;

    }
}