.handleFeedback{
   display: flex;
   flex-direction: column;
   flex: 0.8;
   align-items: center;
   height: 100vh;
   overflow-y: scroll;
   background: linear-gradient(transparent, rgba(0, 0, 0, 1));
   background-color: rgb(91, 87, 115);
}
.handleFeedback__feedback{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    width: 40%;
    margin: 15px;
}

.handleFeedback__feedback--item {
    display: flex;
    align-items: center;
    margin: 5px;
}
.handleFeedback__feedback--item > .MuiSvgIcon-root {
    margin-right: 10px;
}

.handleFeedback__list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}