@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1800px) { @content };    //1800
    }
  }

.vandorePc{
    display: flex;
    @include respond(tab-port){
        display: none;
    }
}
.vandoreMobile {

   display: none;

    @include respond(tab-port){
        display: flex;
        
    }
}

.notification__page{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification__content {
    width: 60%;
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notification__content--button {
    background-color: rgba(66, 135, 245, 1);
    padding: 5px;
    cursor: pointer;
    color: white;
    margin: 5px;

}
.notification__content--button:hover {
    background-color: rgba(66, 135, 245, 0.7);
}


.restro {
    display: block;
    
}