.message {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 99px;
}

.message__info{
    padding-left: 10px;
}
.message__info > img {
    width: 200px;
    height: 150px;
}

.message__timestamp{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}